<!-- Si la participation est bien créé--->
<% if flash[:success].present? %>
  <div class="alert alert-success" role="alert">
    <%=flash[:success]%>
  </div>
<% end %>

<br>
<div class="container">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title">
        <%= @event.title %> (Created by : <%= @event.admin.first_name %> <%= @event.admin.last_name %>)
        <% if @event.participants.include? current_user %>
          <span class="badge badge-primary">People's going</span>
        <% else %>
          <span class="badge badge-secondary">Available piece</span>
        <% end %>
      </h5>
      <div class="d-flex justify-content-around">
        <p class="card-text"><small class="text-muted">Début : <%= @event.start_date.to_formatted_s(:short) %></small></p>
        <p class="card-text"><small class="text-muted">Fin : <%= @event.end_date.to_formatted_s(:short) %></small></p>
        <%= link_to "Back home", root_path, class: "text-right" %>
      </div>

      <hr>
      <p class="card-text">Description : <%= @event.description %></p>
      <hr>
      <p class="card-text">Price : <%= @event.price %> €</p>
      <hr>
      <p class="card-text">Location : <%= @event.location %></p>
      <hr>
      <p class="card-text">Take your ticket here</p>

      <% unless current_user == @event.admin %>

        <%= form_tag new_participation_path(event_id: @event.id) do %>
          <article>
            <% if flash[:error].present? %>
              <div id="error_explanation">
                <p><%= flash[:error] %></p>
              </div>
            <% end %>
          </article>

          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                  data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                  data-description="Reserve your event"
                  data-amount="<%= @event.price * 100 %>"
                  data-locale="auto"></script>
        <% end %>

      <% end %>
      <hr>
      <h5>Who's going</h5>

      <% @event.participants.each_with_index do |participant,index| %>
        <div class="card">
          <div class="card-body">
            <h6 class="card-title"><%= participant.first_name %> <%= participant.last_name %></h6>
            <p class="card-text"> <%= participant.description %></p><br>
          </div>
        </div>
        <br>
      <% end %>

    </div>
  </div>

</div>
