
<!------ Include the above in your HEAD tag ---------->
<div class="jumbotron jumbotron-fluid jumbotron-hero" style="height:50vh;">

</div>
    <div class="container">
        <div class="row">
            <div class="row user-left-part">
                <div class="col-md-3 col-sm-3 col-xs-12 user-profil-part pull-left">
                    <div class="row ">
                        <div class="col-md-12 col-md-12-sm-12 col-xs-12 user-image text-center">
                          <%if @user.profile_picture.attached?%>
                              <%= image_tag @user.profile_picture, alt: 'profile_picture', class:"rounded-circle" %>
                            <%else%>
                              <img src="/assets/profile.png" class="rounded-circle">
                            <%end%>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-9 col-xs-12 pull-right profile-right-section">
                    <div class="row profile-right-section-row">
                        <div class="col-md-12 profile-header">
                            <div class="row">
                                <div class="col-md-8 col-sm-6 col-xs-6 profile-header-section1 pull-left">
                                    <h1><%= @user.first_name %> <%= @user.last_name %></h1>

                                </div>
                                <div class="col-md-4 col-sm-6 col-xs-6 profile-header-section1 pull-right">
                                    <a href="<%= edit_user_path%>" class="btn btn-block">Edit Profile</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-8">
                                        <ul class="nav nav-tabs" role="tablist">
                                                <li class="nav-item">
                                                  <a class="nav-link active" href="#profile" role="tab" data-toggle="tab"><i class="fas fa-user-circle"></i> Profil</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" href="#buzz" role="tab" data-toggle="tab"><i class="fas fa-info-circle"></i> Events
                                                    <span class="badge badge-pill badge-primary"><%= @events.count %></span>
                                                  </a>
                                                </li>
                                              </ul>

                                              <!-- Tab panes -->
                                              <div class="tab-content">
                                                <div role="tabpanel" class="tab-pane fade show active" id="profile">
                                                  <br>
                                                      <div class="row">
                                                          <div class="col-md-2">
                                                              <label class="font-weight-bold">Name</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p><%= @user.first_name %> <%= @user.last_name %></p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-2">
                                                              <label class="font-weight-bold">Email</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p><%= @user.email%></p>
                                                          </div>
                                                      </div>
                                                      <div class="row">
                                                          <div class="col-md-2">
                                                              <label class="font-weight-bold">Description</label>
                                                          </div>
                                                          <div class="col-md-6">
                                                              <p><%= @user.description%></p>
                                                          </div>
                                                      </div>

                                                </div>
                                                <div role="tabpanel" class="tab-pane fade" id="buzz">
                                                  <br>
                                                  <% @events.each_with_index do |event,index| %>
                                                    <div class="card">
                                                      <div class="card-body">
                                                        <h5 class="card-title"><%= event.title %></h5>
                                                        <p class="card-text text-right">Start <%= event.start_date.to_formatted_s(:short) %></p>
                                                        <p class="card-text"> <%= event.description %></p><br>
                                                        <%= link_to "consulter", event_path(event.id), class: "card-link btn btn-primary text-right" %>
                                                        <br><br>
                                                        <p class="card-text"><small class="text-muted">Created since <%= event.created_at %></small></p>
                                                      </div>
                                                    </div>
                                                    <br>
                                                  <% end %>
                                                </div>

                                              </div>

                                </div>
                                <div class="col-md-4 img-main-rightPart">
                                    <div class="row">
                                        <div class="col-md-12">

                                        </div>
                                        <a href="http://camaradecomerciozn.com/">
                                            <div class="col-md-12 image-right">
                                            </div>
                                        </a>
                                        <div class="col-md-12 image-right-detail-section2">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contact">Contactarme</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <p for="msj">Se enviará este mensaje a la persona que desea contactar, indicando que te quieres comunicar con el. Para esto debes de ingresar tu información personal.</p>
                    </div>
                    <div class="form-group">
                        <label for="txtFullname">Nombre completo</label>
                        <input type="text" id="txtFullname" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtEmail">Email</label>
                        <input type="text" id="txtEmail" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="txtPhone">Teléfono</label>
                        <input type="text" id="txtPhone" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" (click)="openModal()" data-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>
