<br>
<div class="container d-flex flex-column align-items-center ">

  <div class="">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
  </div>

  <div class="">

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
      </div><br>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :prenom %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", class: "form-control", placeholder: "First name" %>
      </div><br>

      <div class="field">
        <%= f.label :nom %><br />
        <%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", class: "form-control", placeholder: "Last name" %>
      </div><br>

      <div class="field">
        <%= f.label :description %><br />
        <%= f.text_area :description, autofocus: true, autocomplete: "description", class: "form-control", placeholder: "Description" %>
      </div><br>



      <div class="field">
        <%= f.label :mot_de_passe %> <i>(laisser vide si vous ne souhaitez pas le changer)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :confirmation_du_mot_de_passe %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm password" %>
      </div><br>

      <div class="field">
        <%= f.label :mot_de_passe_actuel %> <i>(confirmer la modification)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current password" %>
      </div><br>

      <div class="actions">
        <%= f.submit "Update", class: "btn"  %>
      </div> <br>
    <% end %>

  </div>
  <hr>

  <div class="">
    <h3>Delete account</h3>

    <p>Are you really sure to want leave us ? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure ?" }, method: :delete %></p>

    <%= link_to "retour", :back %>
  </div>

</div>
